<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<!-- structs2的启动配置项，启动时StrutsPrepareAndExecuteFilter的init方法会读取成一个javabean -->
	<!-- StrutsPrepareAndExecuteFilter是一个控制器-controller，老版本的控制器不同 -->
	<servlet>
		<!--给survlet起个名字，可以是任意的 -->
		<servlet-name>solm</servlet-name>
		<!--servlet的路径（包名+类名) -->
		<servlet-class>com.tq.requisition.presentation.actions.socialSecurityMansgement.SolmUpFile</servlet-class>
		<init-param>
			<param-name>filepath</param-name>
			<param-value>uploadFile</param-value>
		</init-param>
		<init-param>
			<param-name>temppath</param-name>
			<param-value>temp</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>solm</servlet-name>
		<!-- 这是在浏览器中输入的访问该survlet的url，任意的 -->
		<url-pattern>/solm.file</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>structs2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>struts-default.xml,struts-plugin.xml,../config/struts.xml</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>structs2</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>
</web-app>
